body{
        font: 19px / 23px Montserrat, sans-serif;
}


.container{
    top:0;
    margin-top: 0;;
}
.banner{
    /* background-color: #311a55; */
    /* background-color: #d6e2b7; */
    /* background-color: #e4ebd0; */
    /* background-color: #8e7bac; */
    width: 95%;

}
.banner-heading{
    font-size: 50px;
}
.banner-para{
    margin-top: 20px;
    font-size: 25px;
    line-height: 40px;
    color: gray;
}
.container {
    width: 95% !important;
}
.btn-purple{
    margin: 10px;
    background-color:#311a55 !important  ;
    color: white !important;
}
.a-purple{
    color: #311a55;
}
span{
    background-color: #311a55;
}

a{
    text-decoration: none !important;
    list-style: none;
}


.card-box-shadow{
    background-color: #fff;
    box-shadow: 0 10px 30px -15px #0003;
    color: #586069;
    cursor: pointer;
    padding: 2rem;
    transition: all .3s ease;
    border-radius: 10px;
}
.heading{
    color: #311a55;
    font-weight: 700;
}
.card-heading{
    color: black;
    font-weight: bold;
}

.header .logo-name {
    font-feature-settings: "liga","clig off";
    font-family: Agustina Regular;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    font-size: 30px;
    color: #311a55;
}

ul li{
   
      font-family: 'Exo 2', sans-serif;
  
}
ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0px !important;
}

.span-div{
    background-color: #311a55;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex
;
    margin-top: -32px;
    height: 100px;
}
.span-div .cirle{
background-color: white;
    width: 70px;
    height: 70px;
    margin-bottom: -60px;
    justify-content: center;
    align-items: center;
    display: flex
;
    border-radius: 50%;
}
.span-div .cirle span{
    background-color:white;
    color: #311a55;
   

}
.col-sm-new-12{
    width: 30% !important;
}